**/NullRealfMRI/Img/FPR
*.m~
*.mat
*.nii.gz
*.nii
*.html
*.rms
*.par
**/logs
**/R
**/S
*.png
**.feat
*.pdf
**.pdf
FeatTest
ExampleData
fmristat
fMRI_temporal_autocorrelation-master
Externals
TempTrash
